[tools]
python = "3.14"
uv = "latest"
just = "latest"
pre-commit = "latest"

[env]
_.python.venv = { path = ".venv", create = true }
VIRTUAL_ENV_PROMPT = "{{ project_name }}"

[tasks.lint]
run = "just lint"

[tasks.test]
run = "just test"

[tasks.type-check]
run = "just type-check"
