import typer
from rich.console import Console

from {{ package_name }}.logging import configure_logging

app = typer.Typer()
console = Console()


@app.command()
def main() -> None:
    configure_logging()
    console.print("Hello from {{ project_name }}!")
